export(AllEs_C)
export(bay.est.new)
export(bay.est.old)
export(CausalEst)
export(dcom)
export(GenDat2)
export(para.est)
export(sample.empty)
export(sat.est.new)
export(sat.est.old)
importFrom(boot,inv.logit)
importFrom(LaplacesDemon,as.inverse)
importFrom(LaplacesDemon,as.symmetric.matrix)
importFrom(mnormt,dmnorm)
importFrom(mnormt,rmnorm)
importFrom(plyr,dlply)
importFrom(speedglm,speedglm)
useDynLib(BayDR)